make-blueprints/rafter-form-prod-2026-05-21-subject-fix.json
{
  "code": "OK",
  "response": {
    "blueprint": {
      "flow": [
        {
          "id": 1,
          "mapper": {},
          "module": "gateway:CustomWebHook",
          "version": 1,
          "metadata": {
            "restore": {
              "parameters": {
                "hook": {
                  "data": {
                    "editable": "true"
                  },
                  "label": "Rafter Quoting Form"
                }
              }
            },
            "designer": {
              "x": -222,
              "y": 205,
              "name": "Rafter Webook"
            },
            "interface": [
              {
                "name": "payload",
                "type": "text"
              },
              {
                "name": "client_name",
                "type": "text"
              },
              {
                "name": "client_sm8_uuid",
                "type": "text"
              },
              {
                "name": "quote_ref",
                "type": "text"
              },
              {
                "name": "site_address",
                "type": "text"
              },
              {
                "name": "proposal_type",
                "type": "text"
              },
              {
                "name": "proposal_date",
                "type": "text"
              },
              {
                "name": "total",
                "type": "text"
              },
              {
                "name": "notes",
                "type": "text"
              },
              {
                "name": "job_description",
                "type": "text"
              },
              {
                "name": "lineItems",
                "type": "text"
              },
              {
                "name": "customer_email",
                "type": "text"
              },
              {
                "name": "send_email",
                "type": "text"
              },
              {
                "name": "pdf",
                "spec": [
                  {
                    "name": "name",
                    "type": "text"
                  },
                  {
                    "name": "mime",
                    "type": "text"
                  },
                  {
                    "name": "data",
                    "type": "buffer"
                  },
                  {
                    "name": "files",
                    "spec": {
                      "spec": [
                        {
                          "name": "name",
                          "type": "text"
                        },
                        {
                          "name": "mime",
                          "type": "text"
                        },
                        {
                          "name": "data",
                          "type": "buffer"
                        }
                      ],
                      "type": "collection"
                    },
                    "type": "array"
                  }
                ],
                "type": "collection"
              }
            ],
            "parameters": [
              {
                "name": "hook",
                "type": "hook:gateway-webhook",
                "label": "Webhook",
                "required": true
              },
              {
                "name": "maxResults",
                "type": "number",
                "label": "Maximum number of results"
              }
            ]
          },
          "parameters": {
            "hook": 2955073,
            "maxResults": 1
          }
        },
        {
          "id": 34,
          "filter": null,
          "mapper": {
            "json": "{{1.payload}}"
          },
          "module": "json:ParseJSON",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "json",
                "type": "text",
                "label": "JSON string",
                "required": true
              }
            ],
            "restore": {
              "parameters": {
                "type": {
                  "label": "email_ids"
                }
              }
            },
            "designer": {
              "x": 83,
              "y": -130
            },
            "interface": [
              {
                "help": "",
                "name": "mode",
                "type": "text",
                "label": "Mode",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "client_uuid",
                "type": "text",
                "label": "Client UUID",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "customer_email",
                "type": "text",
                "label": "Customer email",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "send_email",
                "type": "boolean",
                "label": "Send email",
                "required": false
              },
              {
                "help": "",
                "name": "quote_ref",
                "type": "text",
                "label": "Quote ref",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "proposal_type",
                "type": "text",
                "label": "Proposal type",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "client_name",
                "type": "text",
                "label": "Client name",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "client_sm8_uuid",
                "type": "text",
                "label": "Client sm 8 UUID",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "site_address",
                "type": "text",
                "label": "Site address",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "proposal_date",
                "type": "text",
                "label": "Proposal date",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "total",
                "type": "number",
                "label": "Total",
                "default": null,
                "required": false
              },
              {
                "help": "",
                "name": "notes",
                "type": "text",
                "label": "Notes",
                "default": null,
                "required": false,
                "multiline": false
              },
              {
                "help": "",
                "name": "subtotal",
                "type": "number",
                "label": "Subtotal",
                "default": null,
                "required": false
              },
              {
                "help": "",
                "name": "gst",
                "type": "number",
                "label": "Gst",
                "default": null,
                "required": false
              },
              {
                "help": "",
                "name": "lineItems",
                "spec": {
                  "spec": [
                    {
                      "help": "",
                      "name": "itemCode",
                      "type": "text",
                      "label": null,
                      "default": null,
                      "required": false,
                      "multiline": false
                    },
                    {
                      "help": "",
                      "name": "name",
                      "type": "text",
                      "label": null,
                      "default": null,
                      "required": false,
                      "multiline": false
                    },
                    {
                      "help": "",
                      "name": "qty",
                      "type": "number",
                      "label": null,
                      "default": null,
                      "required": false
                    },
                    {
                      "help": "",
                      "name": "unit_price",
                      "type": "number",
                      "label": null,
                      "default": null,
                      "required": false
                    },
                    {
                      "help": "",
                      "name": "material_uuid",
                      "type": "text",
                      "label": null,
                      "default": null,
                      "required": false,
                      "multiline": false
                    }
                  ],
                  "type": "collection",
                  "required": false
                },
                "type": "array",
                "label": "Line items",
                "required": false
              },
              {
                "help": "",
                "name": "bank_details",
                "spec": [
                  {
                    "help": "",
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "default": null,
                    "required": false,
                    "multiline": false
                  },
                  {
                    "help": "",
                    "name": "bsb",
                    "type": "text",
                    "label": "Bsb",
                    "default": null,
                    "required": false,
                    "multiline": false
                  },
                  {
                    "help": "",
                    "name": "account",
                    "type": "text",
                    "label": "Account",
                    "default": null,
                    "required": false,
                    "multiline": false
                  }
                ],
                "type": "collection",
                "label": "Bank details",
                "required": false
              },
              {
                "help": "",
                "name": "include_materials_appendix",
                "type": "boolean",
                "label": "Include materials appendix",
                "required": false
              }
            ],
            "parameters": [
              {
                "name": "type",
                "type": "udt",
                "label": "Data structure"
              }
            ]
          },
          "parameters": {
            "type": 418183
          }
        },
        {
          "id": 35,
          "filter": null,
          "mapper": {
            "url": "https://rafter-materials-sync.will-8e8.workers.dev/client-config?uuid={{34.client_uuid}}",
            "method": "get",
            "headers": [
              {
                "name": "x-rafter-secret",
                "value": "R@ftCleanerTetr15Ren"
              }
            ],
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "requestCompressedContent": true
          },
          "module": "http:MakeRequest",
          "version": 4,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "GET"
                },
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                },
                "contentType": {
                  "label": "Empty"
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "proxyKeychain": {
                  "label": "Choose a key"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "designer": {
              "x": 358,
              "y": -53
            },
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ],
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ]
          },
          "parameters": {
            "tlsType": "",
            "proxyKeychain": "",
            "authenticationType": "noAuth"
          }
        },
        {
          "id": 21,
          "filter": null,
          "mapper": null,
          "module": "builtin:BasicIfElse",
          "version": 1,
          "branches": [
            {
              "flow": [
                {
                  "id": 2,
                  "mapper": {
                    "url": "https://api.servicem8.com/api_1.0/company.json",
                    "method": "post",
                    "headers": [
                      {
                        "name": "Authorization",
                        "value": "Bearer {{35.data.access_token}}"
                      }
                    ],
                    "contentType": "json",
                    "inputMethod": "dataStructure",
                    "shareCookies": false,
                    "parseResponse": true,
                    "allowRedirects": true,
                    "stopOnHttpError": true,
                    "bodyDataStructure": 420071,
                    "dataStructureBodyContent": {
                      "name": "{{1.client_name}}",
                      "email": "{{1.customer_email}}",
                      "phone": "{{1.customer_phone}}",
                      "address": "{{1.site_address}}"
                    },
                    "requestCompressedContent": true
                  },
                  "module": "http:MakeRequest",
                  "version": 4,
                  "metadata": {
                    "expect": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                      },
                      {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "get",
                            "head",
                            "post",
                            "put",
                            "patch",
                            "delete",
                            "options"
                          ]
                        }
                      },
                      {
                        "name": "headers",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                              }
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                      },
                      {
                        "name": "queryParameters",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                      },
                      {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                          "enum": [
                            "json",
                            "multipart",
                            "urlEncoded",
                            "custom"
                          ]
                        }
                      },
                      {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                      },
                      {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                      },
                      {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                          "max": 300,
                          "min": 1
                        }
                      },
                      {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                      },
                      {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                      },
                      {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                      },
                      {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "dataStructure",
                            "jsonString"
                          ]
                        }
                      },
                      {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                      },
                      {
                        "name": "dataStructureBodyContent",
                        "spec": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          },
                          {
                            "name": "phone",
                            "type": "text",
                            "label": "Phone"
                          },
                          {
                            "name": "address",
                            "type": "text",
                            "label": "Address"
                          }
                        ],
                        "type": "collection",
                        "label": "Body content"
                      },
                      {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                          "enum": [
                            "offsetBased",
                            "pageBased",
                            "urlBased",
                            "tokenBased"
                          ]
                        }
                      }
                    ],
                    "restore": {
                      "expect": {
                        "method": {
                          "mode": "chose",
                          "label": "POST"
                        },
                        "headers": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        },
                        "contentType": {
                          "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                          "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                          "mode": "chose"
                        },
                        "parseResponse": {
                          "mode": "chose"
                        },
                        "allowRedirects": {
                          "mode": "chose"
                        },
                        "paginationType": {
                          "label": "Empty"
                        },
                        "queryParameters": {
                          "mode": "chose"
                        },
                        "stopOnHttpError": {
                          "mode": "chose"
                        },
                        "bodyDataStructure": {
                          "label": "Customer Deatils"
                        },
                        "requestCompressedContent": {
                          "mode": "chose"
                        }
                      },
                      "parameters": {
                        "tlsType": {
                          "label": "Empty"
                        },
                        "proxyKeychain": {
                          "label": "Choose a key"
                        },
                        "authenticationType": {
                          "label": "No authenticationUse when no credentials are required for the request."
                        }
                      }
                    },
                    "designer": {
                      "x": 830,
                      "y": -608,
                      "name": "Create Client"
                    },
                    "interface": [
                      {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                      },
                      {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                      },
                      {
                        "name": "headers",
                        "spec": [
                          {
                            "name": "content-length",
                            "type": "text",
                            "label": "Content-Length"
                          },
                          {
                            "name": "content-encoding",
                            "type": "text",
                            "label": "Content-Encoding"
                          },
                          {
                            "name": "content-type",
                            "type": "text",
                            "label": "Content-Type"
                          },
                          {
                            "name": "server",
                            "type": "text",
                            "label": "Server"
                          },
                          {
                            "name": "cache-control",
                            "type": "text",
                            "label": "Cache-Control"
                          },
                          {
                            "name": "set-cookie",
                            "spec": {
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Set-Cookie"
                          }
                        ],
                        "type": "collection",
                        "label": "Headers"
                      }
                    ],
                    "parameters": [
                      {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "noAuth",
                            "apiKey",
                            "basicAuth",
                            "oAuth"
                          ]
                        }
                      },
                      {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                          "enum": [
                            "mTls",
                            "tls"
                          ]
                        }
                      },
                      {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                      }
                    ]
                  },
                  "parameters": {
                    "tlsType": "",
                    "proxyKeychain": "",
                    "authenticationType": "noAuth"
                  }
                }
              ],
              "type": "condition",
              "label": "New Client",
              "merge": true,
              "conditions": [
                [
                  {
                    "a": "{{1.client_sm8_uuid}}",
                    "o": "notexist"
                  }
                ]
              ]
            },
            {
              "flow": [
                {
                  "id": 27,
                  "filter": null,
                  "module": "placeholder:Placeholder",
                  "metadata": {
                    "designer": {
                      "x": 797,
                      "y": -48
                    }
                  }
                }
              ],
              "type": "else",
              "label": "",
              "merge": true,
              "disabled": false
            }
          ],
          "metadata": {
            "designer": {
              "x": 530,
              "y": -308
            }
          }
        },
        {
          "id": 25,
          "mapper": null,
          "module": "builtin:BasicMerge",
          "filters": [
            null,
            null
          ],
          "outputs": [],
          "version": 1,
          "metadata": {
            "designer": {
              "x": 1136,
              "y": -288
            }
          }
        },
        {
          "id": 3,
          "filter": null,
          "mapper": {
            "url": "https://api.servicem8.com/api_1.0/job.json",
            "method": "post",
            "headers": [
              {
                "name": "Authorization",
                "value": "Bearer {{35.data.access_token}}"
              }
            ],
            "contentType": "json",
            "inputMethod": "dataStructure",
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "bodyDataStructure": 419956,
            "dataStructureBodyContent": {
              "status": "Quote",
              "job_address": "{{1.site_address}}",
              "company_uuid": "{{1.client_sm8_uuid}}",
              "job_description": "{{1.job_description}}"
            },
            "requestCompressedContent": true
          },
          "module": "http:MakeRequest",
          "version": 4,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "inputMethod",
                "type": "select",
                "label": "Body input method",
                "required": true,
                "validate": {
                  "enum": [
                    "dataStructure",
                    "jsonString"
                  ]
                }
              },
              {
                "name": "bodyDataStructure",
                "type": "udt",
                "label": "Body structure",
                "required": true
              },
              {
                "name": "dataStructureBodyContent",
                "spec": [
                  {
                    "name": "company_uuid",
                    "type": "text",
                    "label": "Company UUID"
                  },
                  {
                    "name": "status",
                    "type": "text",
                    "label": "Status"
                  },
                  {
                    "name": "job_address",
                    "type": "text",
                    "label": "Job address"
                  },
                  {
                    "name": "job_description",
                    "type": "text",
                    "label": "Job description"
                  }
                ],
                "type": "collection",
                "label": "Body content"
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                },
                "contentType": {
                  "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                },
                "inputMethod": {
                  "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "bodyDataStructure": {
                  "label": "My data structure"
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "proxyKeychain": {
                  "label": "Choose a key"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "designer": {
              "x": 1435,
              "y": -118,
              "name": "Create Job"
            },
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ],
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ]
          },
          "parameters": {
            "tlsType": "",
            "proxyKeychain": "",
            "authenticationType": "noAuth"
          }
        },
        {
          "id": 13,
          "filter": null,
          "mapper": {
            "url": "https://api.servicem8.com/api_1.0/jobactivity.json",
            "method": "post",
            "headers": [
              {
                "name": "Authorization",
                "value": "Bearer {{35.data.access_token}}"
              }
            ],
            "contentType": "json",
            "inputMethod": "dataStructure",
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "bodyDataStructure": 415454,
            "dataStructureBodyContent": {
              "note": "{{34.job_description}}",
              "active": "1",
              "job_uuid": "{{3.headers[\"x-record-uuid\"]}}",
              "staff_uuid": "{{35.data.staff_uuid}}"
            },
            "requestCompressedContent": true
          },
          "module": "http:MakeRequest",
          "version": 4,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "inputMethod",
                "type": "select",
                "label": "Body input method",
                "required": true,
                "validate": {
                  "enum": [
                    "dataStructure",
                    "jsonString"
                  ]
                }
              },
              {
                "name": "bodyDataStructure",
                "type": "udt",
                "label": "Body structure",
                "required": true
              },
              {
                "name": "dataStructureBodyContent",
                "spec": [
                  {
                    "name": "job_uuid",
                    "type": "text",
                    "label": null
                  },
                  {
                    "name": "staff_uuid",
                    "type": "text",
                    "label": null
                  },
                  {
                    "name": "note",
                    "type": "text",
                    "label": null
                  },
                  {
                    "name": "active",
                    "type": "number",
                    "label": null
                  }
                ],
                "type": "collection",
                "label": "Body content"
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                },
                "contentType": {
                  "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                },
                "inputMethod": {
                  "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "bodyDataStructure": {
                  "label": "SM8 Job Note"
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "proxyKeychain": {
                  "label": "Choose a key"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "designer": {
              "x": 1747,
              "y": -340,
              "name": " Job Note"
            },
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ],
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ]
          },
          "parameters": {
            "tlsType": "",
            "proxyKeychain": "",
            "authenticationType": "noAuth"
          }
        },
        {
          "id": 14,
          "mapper": {
            "url": "https://api.servicem8.com/api_1.0/Attachment.json",
            "method": "post",
            "headers": [
              {
                "name": "Authorization",
                "value": "Bearer {{35.data.access_token}}"
              }
            ],
            "contentType": "json",
            "inputMethod": "jsonString",
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "jsonStringBodyContent": "{\n  \"related_object\": \"job\",\n  \"related_object_uuid\": \"{{3.headers[\"x-record-uuid\"]}}\",\n  \"attachment_name\": \"{{1.pdf.name}}\",\n  \"file_type\": \".pdf\",\n  \"active\": true\n}",
            "requestCompressedContent": true
          },
          "module": "http:MakeRequest",
          "version": 4,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "inputMethod",
                "type": "select",
                "label": "Body input method",
                "required": true,
                "validate": {
                  "enum": [
                    "dataStructure",
                    "jsonString"
                  ]
                }
              },
              {
                "name": "jsonStringBodyContent",
                "type": "text",
                "label": "Body content",
                "required": true
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose"
                },
                "contentType": {
                  "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                },
                "inputMethod": {
                  "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "proxyKeychain": {
                  "label": "Choose a key"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "designer": {
              "x": 1726,
              "y": 34,
              "name": "Create Attachment Record"
            },
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ],
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ]
          },
          "parameters": {
            "tlsType": "",
            "proxyKeychain": "",
            "authenticationType": "noAuth"
          }
        },
        {
          "id": 28,
          "filter": null,
          "mapper": {
            "name": "attachment_uuid",
            "scope": "roundtrip",
            "value": "{{14.headers.`x-record-uuid`}}"
          },
          "module": "util:SetVariable2",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "scope",
                "type": "select",
                "label": "Variable lifetime",
                "required": true,
                "validate": {
                  "enum": [
                    "roundtrip",
                    "execution"
                  ]
                }
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "restore": {
              "expect": {
                "scope": {
                  "label": "One cycle"
                }
              }
            },
            "designer": {
              "x": 2037,
              "y": 37
            },
            "interface": [
              {
                "name": "attachment_uuid",
                "type": "any",
                "label": "attachment_uuid"
              }
            ]
          },
          "parameters": {}
        },
        {
          "id": 15,
          "mapper": {
            "url": "https://api.servicem8.com/api_1.0/Attachment/{{14.headers.`x-record-uuid`}}.file",
            "method": "post",
            "headers": [
              {
                "name": "Authorization",
                "value": "Bearer {{35.data.access_token}}"
              }
            ],
            "contentType": "multipart",
            "shareCookies": false,
            "parseResponse": true,
            "allowRedirects": true,
            "stopOnHttpError": true,
            "multipartBodyContent": [
              {
                "data": "{{1.pdf.data}}",
                "name": "file",
                "fileName": "{{1.pdf.name}}",
                "multipartFieldType": "file"
              }
            ],
            "requestCompressedContent": true
          },
          "module": "http:MakeRequest",
          "version": 4,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true,
                      "validate": {
                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                      }
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Header"
                },
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "queryParameters",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Parameter"
                },
                "type": "array",
                "label": "Query parameters"
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Body content type",
                "validate": {
                  "enum": [
                    "json",
                    "multipart",
                    "urlEncoded",
                    "custom"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "stopOnHttpError",
                "type": "boolean",
                "label": "Return error if HTTP request fails",
                "required": true
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "allowRedirects",
                "type": "boolean",
                "label": "Allow redirects",
                "required": true
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "requestCompressedContent",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "multipartBodyContent",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "multipartFieldType",
                      "type": "select",
                      "label": "Field type",
                      "options": [
                        {
                          "label": "Text",
                          "value": "text",
                          "nested": [
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ]
                        },
                        {
                          "label": "File",
                          "value": "file",
                          "nested": [
                            {
                              "name": "data",
                              "type": "buffer",
                              "label": "Data",
                              "semantic": "file:data"
                            },
                            {
                              "name": "fileName",
                              "type": "filename",
                              "label": "File name",
                              "semantic": "file:name"
                            }
                          ]
                        }
                      ],
                      "required": true
                    }
                  ],
                  "type": "collection",
                  "label": "Field"
                },
                "type": "array",
                "label": "Body content",
                "required": true
              },
              {
                "name": "paginationType",
                "type": "select",
                "label": "Pagination type",
                "validate": {
                  "enum": [
                    "offsetBased",
                    "pageBased",
                    "urlBased",
                    "tokenBased"
                  ]
                }
              }
            ],
            "restore": {
              "expect": {
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose"
                },
                "contentType": {
                  "label": "multipart/form-data (supports file uploads)Enter files and form data as key-value pairs."
                },
                "shareCookies": {
                  "mode": "chose"
                },
                "parseResponse": {
                  "mode": "chose"
                },
                "allowRedirects": {
                  "mode": "chose"
                },
                "paginationType": {
                  "label": "Empty"
                },
                "queryParameters": {
                  "mode": "chose"
                },
                "stopOnHttpError": {
                  "mode": "chose"
                },
                "multipartBodyContent": {
                  "mode": "chose",
                  "items": [
                    {
                      "multipartFieldType": {
                        "mode": "chose",
                        "label": "File"
                      }
                    }
                  ]
                },
                "requestCompressedContent": {
                  "mode": "chose"
                }
              },
              "parameters": {
                "tlsType": {
                  "label": "Empty"
                },
                "proxyKeychain": {
                  "label": "Choose a key"
                },
                "authenticationType": {
                  "label": "No authenticationUse when no credentials are required for the request."
                }
              }
            },
            "designer": {
              "x": 2337,
              "y": 37,
              "name": "Upload PDF"
            },
            "interface": [
              {
                "name": "data",
                "type": "any",
                "label": "Data"
              },
              {
                "name": "statusCode",
                "type": "number",
                "label": "Status Code"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "content-length",
                    "type": "text",
                    "label": "Content-Length"
                  },
                  {
                    "name": "content-encoding",
                    "type": "text",
                    "label": "Content-Encoding"
                  },
                  {
                    "name": "content-type",
                    "type": "text",
                    "label": "Content-Type"
                  },
                  {
                    "name": "server",
                    "type": "text",
                    "label": "Server"
                  },
                  {
                    "name": "cache-control",
                    "type": "text",
                    "label": "Cache-Control"
                  },
                  {
                    "name": "set-cookie",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array",
                    "label": "Set-Cookie"
                  }
                ],
                "type": "collection",
                "label": "Headers"
              }
            ],
            "parameters": [
              {
                "name": "authenticationType",
                "type": "select",
                "label": "Authentication type",
                "required": true,
                "validate": {
                  "enum": [
                    "noAuth",
                    "apiKey",
                    "basicAuth",
                    "oAuth"
                  ]
                }
              },
              {
                "name": "tlsType",
                "type": "select",
                "label": "Transport layer security (TLS)",
                "validate": {
                  "enum": [
                    "mTls",
                    "tls"
                  ]
                }
              },
              {
                "name": "proxyKeychain",
                "type": "keychain:proxy",
                "label": "Proxy"
              }
            ]
          },
          "parameters": {
            "tlsType": "",
            "proxyKeychain": "",
            "authenticationType": "noAuth"
          }
        },
        {
          "id": 29,
          "filter": null,
          "mapper": null,
          "module": "builtin:BasicRouter",
          "routes": [
            {
              "flow": [
                {
                  "id": 36,
                  "filter": {
                    "name": "",
                    "conditions": [
                      [
                        {
                          "a": "{{1.send_email}}",
                          "b": "true",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "mapper": {
                    "url": "https://rafter-materials-sync.will-8e8.workers.dev/render-email",
                    "method": "post",
                    "headers": [
                      {
                        "name": "x-rafter-secret",
                        "value": "R@ftCleanerTetr15Ren"
                      }
                    ],
                    "contentType": "json",
                    "inputMethod": "dataStructure",
                    "shareCookies": false,
                    "parseResponse": true,
                    "allowRedirects": true,
                    "stopOnHttpError": true,
                    "bodyDataStructure": 419979,
                    "dataStructureBodyContent": {
                      "uuid": "{{34.client_uuid}}",
                      "total": "{{1.total}}",
                      "quote_ref": "{{1.quote_ref}}",
                      "client_name": "{{1.client_name}}",
                      "job_address": "{{1.site_address}}"
                    },
                    "requestCompressedContent": true
                  },
                  "module": "http:MakeRequest",
                  "version": 4,
                  "metadata": {
                    "expect": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                      },
                      {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "get",
                            "head",
                            "post",
                            "put",
                            "patch",
                            "delete",
                            "options"
                          ]
                        }
                      },
                      {
                        "name": "headers",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                              }
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                      },
                      {
                        "name": "queryParameters",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                      },
                      {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                          "enum": [
                            "json",
                            "multipart",
                            "urlEncoded",
                            "custom"
                          ]
                        }
                      },
                      {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                      },
                      {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                      },
                      {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                          "max": 300,
                          "min": 1
                        }
                      },
                      {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                      },
                      {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                      },
                      {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                      },
                      {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "dataStructure",
                            "jsonString"
                          ]
                        }
                      },
                      {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                      },
                      {
                        "name": "dataStructureBodyContent",
                        "spec": [
                          {
                            "name": "uuid",
                            "type": "text",
                            "label": "UUID"
                          },
                          {
                            "name": "client_name",
                            "type": "text",
                            "label": "Client name"
                          },
                          {
                            "name": "job_address",
                            "type": "text",
                            "label": "Job address"
                          },
                          {
                            "name": "quote_ref",
                            "type": "text",
                            "label": "Quote ref"
                          },
                          {
                            "name": "total",
                            "type": "text",
                            "label": "Total"
                          }
                        ],
                        "type": "collection",
                        "label": "Body content"
                      },
                      {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                          "enum": [
                            "offsetBased",
                            "pageBased",
                            "urlBased",
                            "tokenBased"
                          ]
                        }
                      }
                    ],
                    "restore": {
                      "expect": {
                        "method": {
                          "mode": "chose",
                          "label": "POST"
                        },
                        "headers": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        },
                        "contentType": {
                          "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                          "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                          "mode": "chose"
                        },
                        "parseResponse": {
                          "mode": "chose"
                        },
                        "allowRedirects": {
                          "mode": "chose"
                        },
                        "paginationType": {
                          "label": "Empty"
                        },
                        "queryParameters": {
                          "mode": "chose"
                        },
                        "stopOnHttpError": {
                          "mode": "chose"
                        },
                        "bodyDataStructure": {
                          "label": "Render_email"
                        },
                        "requestCompressedContent": {
                          "mode": "chose"
                        }
                      },
                      "parameters": {
                        "tlsType": {
                          "label": "Empty"
                        },
                        "proxyKeychain": {
                          "label": "Choose a key"
                        },
                        "authenticationType": {
                          "label": "No authenticationUse when no credentials are required for the request."
                        }
                      }
                    },
                    "designer": {
                      "x": 2615,
                      "y": 189
                    },
                    "interface": [
                      {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                      },
                      {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                      },
                      {
                        "name": "headers",
                        "spec": [
                          {
                            "name": "content-length",
                            "type": "text",
                            "label": "Content-Length"
                          },
                          {
                            "name": "content-encoding",
                            "type": "text",
                            "label": "Content-Encoding"
                          },
                          {
                            "name": "content-type",
                            "type": "text",
                            "label": "Content-Type"
                          },
                          {
                            "name": "server",
                            "type": "text",
                            "label": "Server"
                          },
                          {
                            "name": "cache-control",
                            "type": "text",
                            "label": "Cache-Control"
                          },
                          {
                            "name": "set-cookie",
                            "spec": {
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Set-Cookie"
                          }
                        ],
                        "type": "collection",
                        "label": "Headers"
                      }
                    ],
                    "parameters": [
                      {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "noAuth",
                            "apiKey",
                            "basicAuth",
                            "oAuth"
                          ]
                        }
                      },
                      {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                          "enum": [
                            "mTls",
                            "tls"
                          ]
                        }
                      },
                      {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                      }
                    ]
                  },
                  "parameters": {
                    "tlsType": "",
                    "proxyKeychain": "",
                    "authenticationType": "noAuth"
                  }
                },
                {
                  "id": 37,
                  "filter": null,
                  "mapper": {
                    "to": "{{1.customer_email}}",
                    "subject": "Your quote from {{35.data.company_name}}",
                    "htmlBody": "{{36.data.html}}",
                    "attachments": [
                      "{{28.attachment_uuid}}"
                    ],
                    "regardingJobUUID": "{{3.uuid}}"
                  },
                  "module": "json:CreateJSON",
                  "version": 1,
                  "metadata": {
                    "expect": [
                      {
                        "name": "to",
                        "type": "text",
                        "label": "To"
                      },
                      {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                      },
                      {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body"
                      },
                      {
                        "name": "regardingJobUUID",
                        "type": "text",
                        "label": "Regarding job UUID"
                      },
                      {
                        "name": "attachments",
                        "spec": {
                          "name": "value",
                          "type": "text"
                        },
                        "type": "array",
                        "label": "Attachments"
                      }
                    ],
                    "restore": {
                      "expect": {
                        "attachments": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        }
                      },
                      "parameters": {
                        "type": {
                          "label": "Customer Quote Email"
                        },
                        "space": {
                          "label": "Empty"
                        }
                      }
                    },
                    "designer": {
                      "x": 2565,
                      "y": 569
                    },
                    "parameters": [
                      {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                      },
                      {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                          "enum": [
                            "tab",
                            "2",
                            "4"
                          ]
                        }
                      }
                    ]
                  },
                  "parameters": {
                    "type": 419016,
                    "space": ""
                  }
                },
                {
                  "id": 33,
                  "mapper": {
                    "url": "https://api.servicem8.com/platform_service_email",
                    "method": "post",
                    "headers": [
                      {
                        "name": "Authorization",
                        "value": "Bearer {{35.data.access_token}}"
                      },
                      {
                        "name": "x-impersonate-uuid",
                        "value": "{{35.data.staff_uuid}}"
                      }
                    ],
                    "contentType": "json",
                    "inputMethod": "dataStructure",
                    "shareCookies": false,
                    "parseResponse": true,
                    "allowRedirects": true,
                    "stopOnHttpError": true,
                    "bodyDataStructure": 419987,
                    "dataStructureBodyContent": {
                      "to": "{{1.customer_email}}",
                      "subject": "Your quote from {{35.data.company_name}} – {{1.quote_ref}}",
                      "htmlBody": "{{36.data.html}}",
                      "attachments": [
                        "{{28.attachment_uuid}}"
                      ],
                      "regardingJobUUID": "{{3.headers[\"x-record-uuid\"]}}"
                    },
                    "requestCompressedContent": true
                  },
                  "module": "http:MakeRequest",
                  "version": 4,
                  "metadata": {
                    "expect": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                      },
                      {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "get",
                            "head",
                            "post",
                            "put",
                            "patch",
                            "delete",
                            "options"
                          ]
                        }
                      },
                      {
                        "name": "headers",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                              }
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                      },
                      {
                        "name": "queryParameters",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                      },
                      {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                          "enum": [
                            "json",
                            "multipart",
                            "urlEncoded",
                            "custom"
                          ]
                        }
                      },
                      {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                      },
                      {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                      },
                      {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                          "max": 300,
                          "min": 1
                        }
                      },
                      {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                      },
                      {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                      },
                      {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                      },
                      {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "dataStructure",
                            "jsonString"
                          ]
                        }
                      },
                      {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                      },
                      {
                        "name": "dataStructureBodyContent",
                        "spec": [
                          {
                            "name": "to",
                            "type": "text",
                            "label": "To"
                          },
                          {
                            "name": "subject",
                            "type": "text",
                            "label": "Subject"
                          },
                          {
                            "name": "htmlBody",
                            "type": "text",
                            "label": "HTML body"
                          },
                          {
                            "name": "regardingJobUUID",
                            "type": "text",
                            "label": "Regarding job UUID"
                          },
                          {
                            "name": "attachments",
                            "spec": {
                              "name": "value",
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Attachments"
                          }
                        ],
                        "type": "collection",
                        "label": "Body content"
                      },
                      {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                          "enum": [
                            "offsetBased",
                            "pageBased",
                            "urlBased",
                            "tokenBased"
                          ]
                        }
                      }
                    ],
                    "restore": {
                      "expect": {
                        "method": {
                          "mode": "chose",
                          "label": "POST"
                        },
                        "headers": {
                          "mode": "chose",
                          "items": [
                            null,
                            null
                          ]
                        },
                        "contentType": {
                          "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                          "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                          "mode": "chose"
                        },
                        "parseResponse": {
                          "mode": "chose"
                        },
                        "allowRedirects": {
                          "mode": "chose"
                        },
                        "paginationType": {
                          "label": "Empty"
                        },
                        "queryParameters": {
                          "mode": "chose"
                        },
                        "stopOnHttpError": {
                          "mode": "chose"
                        },
                        "bodyDataStructure": {
                          "label": "SM8 Email Body"
                        },
                        "dataStructureBodyContent": {
                          "nested": {
                            "attachments": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            }
                          }
                        },
                        "requestCompressedContent": {
                          "mode": "chose"
                        }
                      },
                      "parameters": {
                        "tlsType": {
                          "label": "Empty"
                        },
                        "proxyKeychain": {
                          "label": "Choose a key"
                        },
                        "authenticationType": {
                          "label": "No authenticationUse when no credentials are required for the request."
                        }
                      }
                    },
                    "designer": {
                      "x": 2972,
                      "y": 549,
                      "name": "Send Customer Quote via SM8 email"
                    },
                    "interface": [
                      {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                      },
                      {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                      },
                      {
                        "name": "headers",
                        "spec": [
                          {
                            "name": "content-length",
                            "type": "text",
                            "label": "Content-Length"
                          },
                          {
                            "name": "content-encoding",
                            "type": "text",
                            "label": "Content-Encoding"
                          },
                          {
                            "name": "content-type",
                            "type": "text",
                            "label": "Content-Type"
                          },
                          {
                            "name": "server",
                            "type": "text",
                            "label": "Server"
                          },
                          {
                            "name": "cache-control",
                            "type": "text",
                            "label": "Cache-Control"
                          },
                          {
                            "name": "set-cookie",
                            "spec": {
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Set-Cookie"
                          }
                        ],
                        "type": "collection",
                        "label": "Headers"
                      }
                    ],
                    "parameters": [
                      {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "noAuth",
                            "apiKey",
                            "basicAuth",
                            "oAuth"
                          ]
                        }
                      },
                      {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                          "enum": [
                            "mTls",
                            "tls"
                          ]
                        }
                      },
                      {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                      }
                    ]
                  },
                  "parameters": {
                    "tlsType": "",
                    "proxyKeychain": "",
                    "authenticationType": "noAuth"
                  }
                },
                {
                  "id": 12,
                  "mapper": {
                    "to": [
                      "{{35.data.operator_email}}"
                    ],
                    "content": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\r\n  <div style=\"background-color: #1a3a2a; padding: 20px 24px; border-radius: 8px 8px 0 0;\">\r\n    <h1 style=\"color: white; margin: 0; font-size: 18px;\">Two Men and a Shovel</h1>\r\n    <p style=\"color: rgba(255,255,255,0.7); margin: 4px 0 0; font-size: 13px;\">Site Visit Quote — submitted via Rafter</p>\r\n  </div>\r\n  <div style=\"background: #f8f9f6; padding: 24px; border: 1px solid #e0e0d8; border-top: none; border-radius: 0 0 8px 8px;\">\r\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\r\n      <tr>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0; width: 140px;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Client</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a; font-weight: 600;\">{{1.client_name}}</span>\r\n        </td>\r\n      </tr>\r\n      <tr>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Site Address</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a;\">{{1.site_address}}</span>\r\n        </td>\r\n      </tr>\r\n      <tr>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Quote Ref</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a;\">{{1.quote_ref}}</span>\r\n        </td>\r\n      </tr>\r\n      <tr>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Date</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a;\">{{1.proposal_date}}</span>\r\n        </td>\r\n      </tr>\r\n      <tr>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Type</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a;\">{{1.proposal_type}}</span>\r\n        </td>\r\n      </tr>\r\n      <tr>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Total</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0; border-bottom: 1px solid #e8e8e0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a; font-weight: 600;\">${{formatNumber(1.total; 2; \".\"; \",\")}}</span>\r\n        </td>\r\n      </tr>\r\n      <tr>\r\n        <td style=\"padding: 8px 0;\">\r\n          <span style=\"font-size: 11px; color: #666; text-transform: uppercase; font-weight: bold;\">Notes</span>\r\n        </td>\r\n        <td style=\"padding: 8px 0;\">\r\n          <span style=\"font-size: 14px; color: #1a1a1a;\">{{1.notes}}</span>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n    <p style=\"font-size: 12px; color: #888; margin: 0; border-top: 1px solid #e8e8e0; padding-top: 16px;\">\r\n      The full site visit quote is attached as a PDF. This job has been created in ServiceM8.\r\n    </p>\r\n  </div>\r\n</div>",
                    "subject": "Site Visit Quote - {{1.client_name}} - {{1.proposal_date}}",
                    "bodyType": "rawHtml",
                    "attachments": [
                      {
                        "data": "{{1.pdf.data}}",
                        "filename": "{{1.pdf.name}}"
                      }
                    ]
                  },
                  "module": "google-email:sendAnEmail",
                  "version": 4,
                  "metadata": {
                    "expect": [
                      {
                        "name": "to",
                        "spec": {
                          "name": "value",
                          "type": "email",
                          "label": "Recipient email address",
                          "required": true,
                          "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                      },
                      {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                      },
                      {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "rawHtml",
                            "collection"
                          ]
                        }
                      },
                      {
                        "name": "attachments",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "filename",
                              "type": "filename",
                              "label": "File name",
                              "required": true,
                              "semantic": "file:name"
                            },
                            {
                              "name": "data",
                              "type": "buffer",
                              "label": "Data",
                              "required": true,
                              "semantic": "file:data"
                            }
                          ],
                          "type": "collection",
                          "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                      },
                      {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                      },
                      {
                        "name": "cc",
                        "spec": {
                          "name": "value",
                          "type": "email",
                          "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                      },
                      {
                        "name": "bcc",
                        "spec": {
                          "name": "value",
                          "type": "email",
                          "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                      },
                      {
                        "name": "emailHeaders",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "key",
                              "type": "text",
                              "label": "Key",
                              "required": true
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                      },
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      }
                    ],
                    "restore": {
                      "expect": {
                        "cc": {
                          "mode": "chose"
                        },
                        "to": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        },
                        "bcc": {
                          "mode": "chose"
                        },
                        "from": {
                          "mode": "chose"
                        },
                        "bodyType": {
                          "label": "Raw HTML"
                        },
                        "attachments": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        },
                        "emailHeaders": {
                          "mode": "chose"
                        }
                      },
                      "parameters": {
                        "__IMTCONN__": {
                          "data": {
                            "scoped": "true",
                            "connection": "google-email"
                          },
                          "label": "willthurlow73@gmail.com (willthurlow73@gmail.com)"
                        }
                      }
                    },
                    "designer": {
                      "x": 3599,
                      "y": 538,
                      "name": "Send operator email"
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                      }
                    ]
                  },
                  "parameters": {
                    "__IMTCONN__": 7104720
                  }
                }
              ]
            },
            {
              "flow": [
                {
                  "id": 16,
                  "mapper": {
                    "json": "{{1.lineItems}}"
                  },
                  "module": "json:ParseJSON",
                  "version": 1,
                  "metadata": {
                    "expect": [
                      {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                      }
                    ],
                    "restore": {
                      "parameters": {
                        "type": {
                          "label": "Line items"
                        }
                      }
                    },
                    "designer": {
                      "x": 3414,
                      "y": -505
                    },
                    "interface": [
                      {
                        "help": "",
                        "name": "itemCode",
                        "type": "text",
                        "label": "Item code",
                        "default": null,
                        "required": false,
                        "multiline": false
                      },
                      {
                        "help": "",
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "default": null,
                        "required": false,
                        "multiline": false
                      },
                      {
                        "help": "",
                        "name": "qty",
                        "type": "number",
                        "label": "Qty",
                        "default": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "unit_price",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                      }
                    ],
                    "parameters": [
                      {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                      }
                    ]
                  },
                  "parameters": {
                    "type": 400653
                  }
                },
                {
                  "id": 17,
                  "mapper": {
                    "url": "https://api.servicem8.com/api_1.0/jobmaterial.json",
                    "method": "post",
                    "headers": [
                      {
                        "name": "Content-Type",
                        "value": "application/json"
                      },
                      {
                        "name": "Authorization",
                        "value": "Bearer {{35.data.access_token}}"
                      }
                    ],
                    "contentType": "json",
                    "inputMethod": "dataStructure",
                    "shareCookies": false,
                    "parseResponse": true,
                    "allowRedirects": true,
                    "stopOnHttpError": true,
                    "bodyDataStructure": 420003,
                    "dataStructureBodyContent": {
                      "name": "{{16.name}}",
                      "price": "{{16.unit_price}}",
                      "active": "1",
                      "job_uuid": "{{3.headers.`x-record-uuid`}}",
                      "quantity": "{{16.qty}}",
                      "material_uuid": "{{16.material_uuid}}",
                      "displayed_amount": "{{16.unit_price}}",
                      "displayed_amount_is_tax_inclusive": "0"
                    },
                    "requestCompressedContent": true
                  },
                  "module": "http:MakeRequest",
                  "version": 4,
                  "metadata": {
                    "expect": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                      },
                      {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "get",
                            "head",
                            "post",
                            "put",
                            "patch",
                            "delete",
                            "options"
                          ]
                        }
                      },
                      {
                        "name": "headers",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true,
                              "validate": {
                                "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                              }
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                      },
                      {
                        "name": "queryParameters",
                        "spec": {
                          "name": "value",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text",
                              "label": "Name",
                              "required": true
                            },
                            {
                              "name": "value",
                              "type": "text",
                              "label": "Value"
                            }
                          ],
                          "type": "collection",
                          "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                      },
                      {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                          "enum": [
                            "json",
                            "multipart",
                            "urlEncoded",
                            "custom"
                          ]
                        }
                      },
                      {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                      },
                      {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                      },
                      {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                          "max": 300,
                          "min": 1
                        }
                      },
                      {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                      },
                      {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                      },
                      {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                      },
                      {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "dataStructure",
                            "jsonString"
                          ]
                        }
                      },
                      {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                      },
                      {
                        "name": "dataStructureBodyContent",
                        "spec": [
                          {
                            "name": "job_uuid",
                            "type": "text",
                            "label": "Job UUID"
                          },
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "quantity",
                            "type": "text",
                            "label": "Quantity"
                          },
                          {
                            "name": "price",
                            "type": "text",
                            "label": "Price"
                          },
                          {
                            "name": "displayed_amount",
                            "type": "text",
                            "label": "Displayed amount"
                          },
                          {
                            "name": "displayed_amount_is_tax_inclusive",
                            "type": "text",
                            "label": "Displayed amount is tax inclusive"
                          },
                          {
                            "name": "active",
                            "type": "number",
                            "label": "Active"
                          },
                          {
                            "name": "material_uuid",
                            "type": "text",
                            "label": "Material UUID"
                          }
                        ],
                        "type": "collection",
                        "label": "Body content"
                      },
                      {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                          "enum": [
                            "offsetBased",
                            "pageBased",
                            "urlBased",
                            "tokenBased"
                          ]
                        }
                      }
                    ],
                    "restore": {
                      "expect": {
                        "method": {
                          "mode": "chose",
                          "label": "POST"
                        },
                        "headers": {
                          "mode": "chose",
                          "items": [
                            null,
                            null
                          ]
                        },
                        "contentType": {
                          "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                          "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                          "mode": "chose"
                        },
                        "parseResponse": {
                          "mode": "chose"
                        },
                        "allowRedirects": {
                          "mode": "chose"
                        },
                        "paginationType": {
                          "label": "Empty"
                        },
                        "queryParameters": {
                          "mode": "chose"
                        },
                        "stopOnHttpError": {
                          "mode": "chose"
                        },
                        "bodyDataStructure": {
                          "label": "SM8 Job Material"
                        },
                        "requestCompressedContent": {
                          "mode": "chose"
                        }
                      },
                      "parameters": {
                        "tlsType": {
                          "label": "Empty"
                        },
                        "proxyKeychain": {
                          "label": "Choose a key"
                        },
                        "authenticationType": {
                          "label": "No authenticationUse when no credentials are required for the request."
                        }
                      }
                    },
                    "designer": {
                      "x": 3892,
                      "y": -69,
                      "name": "JobMaterial — Line Item"
                    },
                    "interface": [
                      {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                      },
                      {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                      },
                      {
                        "name": "headers",
                        "spec": [
                          {
                            "name": "content-length",
                            "type": "text",
                            "label": "Content-Length"
                          },
                          {
                            "name": "content-encoding",
                            "type": "text",
                            "label": "Content-Encoding"
                          },
                          {
                            "name": "content-type",
                            "type": "text",
                            "label": "Content-Type"
                          },
                          {
                            "name": "server",
                            "type": "text",
                            "label": "Server"
                          },
                          {
                            "name": "cache-control",
                            "type": "text",
                            "label": "Cache-Control"
                          },
                          {
                            "name": "set-cookie",
                            "spec": {
                              "type": "text"
                            },
                            "type": "array",
                            "label": "Set-Cookie"
                          }
                        ],
                        "type": "collection",
                        "label": "Headers"
                      }
                    ],
                    "parameters": [
                      {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "noAuth",
                            "apiKey",
                            "basicAuth",
                            "oAuth"
                          ]
                        }
                      },
                      {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                          "enum": [
                            "mTls",
                            "tls"
                          ]
                        }
                      },
                      {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                      }
                    ]
                  },
                  "parameters": {
                    "tlsType": "",
                    "proxyKeychain": "",
                    "authenticationType": "noAuth"
                  }
                }
              ]
            }
          ],
          "version": 1,
          "metadata": {
            "designer": {
              "x": 2471,
              "y": -373
            }
          }
        }
      ],
      "name": "Rafter Form",
      "metadata": {
        "instant": true,
        "version": 1,
        "designer": {
          "orphans": [],
          "samples": {
            "1": {
              "pdf": {
                "data": "IMTBuffer(84207, binary, 348ab7d55db94c96bc87dad9dcfc01b11539a33c): 255044462d312e340a25d3ebe9e10a31...",
                "mime": "application/pdf",
                "name": "Q-20260517-1805 - Will Thurlow.pdf",
                "files": [
                  {
                    "data": "IMTBuffer(84207, binary, 348ab7d55db94c96bc87dad9dcfc01b11539a33c): 255044462d312e340a25d3ebe9e10a31...",
                    "mime": "application/pdf",
                    "name": "Q-20260517-1805 - Will Thurlow.pdf"
                  }
                ]
              },
              "notes": "",
              "total": "2.53",
              "payload": "{\"mode\":\"submit\",\"client_uuid\":\"0e604a45-84fd-4789-a2cb-662bcba51a8b\",\"customer_email\":\"willthurlow7...",
              "lineItems": "[{\"itemCode\":\"\",\"name\":\"All Purpose Fertiliser Pellets 100g\",\"qty\":1,\"unit_price\":2.3,\"material_uuid...",
              "quote_ref": "Q-20260517-1805",
              "send_email": "false",
              "client_name": "Will Thurlow",
              "site_address": "6 Milroy Street\nBrighton East VIC 3187",
              "proposal_date": "17 May 2026",
              "proposal_type": "LC",
              "customer_email": "willthurlow73@gmail.com",
              "client_sm8_uuid": "16f9c963-432e-4726-ae53-1d9eff0b869b",
              "job_description": "--- RAFTER:Q-20260517-1805:START ---\nRef:  Q-20260517-1805\nDate: 17 May 2026\nType: Landscape Constru..."
            },
            "2": {
              "uuid": "d164e024-3cce-45c7-9220-2432d19a5d1b",
              "message": "OK",
              "errorCode": 0
            },
            "3": {
              "data": "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charse...",
              "headers": {
                "via": "1.1 4223d11e636e28fd58618244d31b6e42.cloudfront.net (CloudFront)",
                "date": "Sun, 17 May 2026 08:28:40 GMT",
                "server": "nginx",
                "alt-svc": "h3=\":443\"; ma=86400",
                "x-cache": "Miss from cloudfront",
                "connection": "keep-alive",
                "x-amz-cf-id": "2klmhuphMYbHZmgL040cmjuzU8J9CMeSN1RambGdgkdOFw7YipzUyw==",
                "content-type": "text/html;charset=UTF-8",
                "x-amz-cf-pop": "DUB56-P3",
                "cache-control": "private, max-age=0",
                "x-record-uuid": "2a899ea9-43ef-4bc2-9233-24330d0843ab",
                "x-frame-options": "SAMEORIGIN",
                "transfer-encoding": "chunked",
                "strict-transport-security": "max-age=63072000; includeSubDomains"
              },
              "statusCode": 200
            },
            "12": {
              "id": "19e2e96637e47d1c",
              "labelIds": [
                "UNREAD"
              ],
              "threadId": "19e2e96637e47d1c",
              "sysFolders": [
                {
                  "id": "INBOX",
                  "name": "Inbox"
                }
              ]
            },
            "13": {
              "data": "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charse...",
              "headers": {
                "via": "1.1 d6f62c603361035a63e0fd5fd34b7c62.cloudfront.net (CloudFront)",
                "date": "Sun, 17 May 2026 08:28:41 GMT",
                "server": "nginx",
                "alt-svc": "h3=\":443\"; ma=86400",
                "x-cache": "Miss from cloudfront",
                "connection": "keep-alive",
                "x-amz-cf-id": "Ic9-93iT1sXdbL7Tnb0faDz1-uOSvzTGT3A3FrnUELAAo6wLvfOygg==",
                "content-type": "text/html;charset=UTF-8",
                "x-amz-cf-pop": "DUB56-P3",
                "cache-control": "private, max-age=0",
                "x-record-uuid": "a7e79925-26ce-4221-b4fb-2433015377ab",
                "x-frame-options": "SAMEORIGIN",
                "transfer-encoding": "chunked",
                "strict-transport-security": "max-age=63072000; includeSubDomains"
              },
              "statusCode": 200
            },
            "14": {
              "data": "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charse...",
              "headers": {
                "via": "1.1 e5a561fa3d3aed8026a178c067b92b94.cloudfront.net (CloudFront)",
                "date": "Sun, 17 May 2026 08:28:42 GMT",
                "server": "nginx",
                "alt-svc": "h3=\":443\"; ma=86400",
                "x-cache": "Miss from cloudfront",
                "connection": "keep-alive",
                "x-amz-cf-id": "chqyj010i9I0i6yP9-0e31gQpbE5cwiOJ3F6pcOk5w6uxbyo0EwYQA==",
                "content-type": "text/html;charset=UTF-8",
                "x-amz-cf-pop": "DUB56-P3",
                "cache-control": "private, max-age=0",
                "x-record-uuid": "24ddb39d-2127-4df6-93ed-243306496d0b",
                "x-frame-options": "SAMEORIGIN",
                "transfer-encoding": "chunked",
                "strict-transport-security": "max-age=63072000; includeSubDomains"
              },
              "statusCode": 200
            },
            "15": {
              "data": "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charse...",
              "headers": {
                "via": "1.1 3330c8bd92a164e7fc516781d61a3de2.cloudfront.net (CloudFront)",
                "date": "Sun, 17 May 2026 08:28:43 GMT",
                "server": "nginx",
                "alt-svc": "h3=\":443\"; ma=86400",
                "x-cache": "Miss from cloudfront",
                "connection": "keep-alive",
                "x-amz-cf-id": "1TDsP6Y3H3CkGkBSCpVS8GHwt7oK0NTzbctRNwWU5JG9lHrVfvqNZA==",
                "content-type": "text/html;charset=UTF-8",
                "x-amz-cf-pop": "DUB56-P3",
                "cache-control": "private, max-age=0",
                "x-frame-options": "SAMEORIGIN",
                "transfer-encoding": "chunked",
                "strict-transport-security": "max-age=63072000; includeSubDomains"
              },
              "statusCode": 200
            },
            "16": {
              "qty": 1,
              "name": "All Purpose Fertiliser Pellets 100g",
              "itemCode": "",
              "unit_price": 2.3,
              "material_uuid": "06f2f877-8bb8-49c9-843f-d653596d72ab"
            },
            "17": {
              "data": "<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charse...",
              "headers": {
                "via": "1.1 b5493d7be3c5d7aa1fdf62dc82f4345c.cloudfront.net (CloudFront)",
                "date": "Sat, 16 May 2026 02:21:09 GMT",
                "server": "nginx",
                "alt-svc": "h3=\":443\"; ma=86400",
                "x-cache": "Miss from cloudfront",
                "connection": "keep-alive",
                "x-amz-cf-id": "H2kmTscPlmmd32pbIJu_2ieKHtEOQmubSyIFdsHrRASKSTT06mRHvw==",
                "content-type": "text/html;charset=UTF-8",
                "x-amz-cf-pop": "DUB56-P4",
                "cache-control": "private, max-age=0",
                "x-record-uuid": "8172731e-e3b1-4326-a193-2432d38b227b",
                "x-frame-options": "SAMEORIGIN",
                "transfer-encoding": "chunked",
                "strict-transport-security": "max-age=63072000; includeSubDomains"
              },
              "statusCode": 200
            },
            "28": {
              "attachment_uuid": "24ddb39d-2127-4df6-93ed-243306496d0b"
            },
            "34": {
              "gst": 0.23,
              "mode": "submit",
              "notes": "",
              "total": 2.53,
              "sections": [
                {
                  "items": [
                    {
                      "name": "PLANT ESTABLISHMENT CARE",
                      "price": 2.3,
                      "scope": "3 x Monthly follow ups\nMonitor plant establishment throughout critical initial 3 month phase\nLiquid ...",
                      "asterisk_notes": []
                    }
                  ],
                  "heading": "PLANT ESTABLISHMENT CARE"
                }
              ],
              "subtotal": 2.3,
              "lineItems": [
                {
                  "qty": 1,
                  "name": "All Purpose Fertiliser Pellets 100g",
                  "itemCode": "",
                  "unit_price": 2.3,
                  "material_uuid": "06f2f877-8bb8-49c9-843f-d653596d72ab"
                }
              ],
              "quote_ref": "Q-20260517-1805",
              "send_email": false,
              "client_name": "Will Thurlow",
              "client_uuid": "0e604a45-84fd-4789-a2cb-662bcba51a8b",
              "bank_details": {
                "bsb": "083-231",
                "name": "2 Men and a Shovel",
                "account": "958330593"
              },
              "site_address": "6 Milroy Street\nBrighton East VIC 3187",
              "form_sections": [
                {
                  "name": "PLANT ESTABLISHMENT CARE",
                  "price": 2.3,
                  "scope": "3 x Monthly follow ups\nMonitor plant establishment throughout critical initial 3 month phase\nLiquid ...",
                  "photos": [],
                  "line_items": [
                    {
                      "name": "All Purpose Fertiliser Pellets 100g",
                      "unit": "ea",
                      "total": 2.3,
                      "quantity": 1,
                      "sm8_uuid": "06f2f877-8bb8-49c9-843f-d653596d72ab",
                      "unit_price": 2.3
                    }
                  ]
                }
              ],
              "proposal_date": "17 May 2026",
              "proposal_type": "LC",
              "customer_email": "willthurlow73@gmail.com",
              "client_sm8_uuid": "16f9c963-432e-4726-ae53-1d9eff0b869b",
              "payment_schedule": [
                {
                  "amount": 1.26,
                  "percentage": 50,
                  "description": "Final payment at completion"
                }
              ],
              "include_materials_appendix": false
            },
            "35": {
              "data": {
                "phone": "(03) 9013 6588",
                "logo_url": "https://rafter-materials-sync.will-8e8.workers.dev/logo/0e604a45-84fd-4789-a2cb-662bcba51a8b",
                "staff_uuid": "fe62e877-7a15-4a31-aac7-f670c78ef0ab",
                "webhook_url": "https://hook.eu1.make.com/oh8gh9i7cdadlmmcyh3ypeep1x1n9jd4",
                "access_token": "107135-apse2-a0737010da101da87f58777744c27d9283b14bf7",
                "company_name": "2 Men and a Shovel",
                "business_email": "hello@2menandashovel.com",
                "email_template": null,
                "operator_email": "willthurlow73@gmail.com"
              },
              "headers": {
                "nel": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}",
                "date": "Sun, 17 May 2026 08:28:40 GMT",
                "vary": "Origin",
                "cf-ray": "9fd13ffe5a7cb7ca-DUB",
                "server": "cloudflare",
                "alt-svc": "h3=\":443\"; ma=86400",
                "report-to": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=jf1...",
                "connection": "keep-alive",
                "content-type": "application/json",
                "transfer-encoding": "chunked",
                "access-control-allow-origin": "https://rafter.deepgreensea.au",
                "access-control-allow-headers": "Content-Type, Authorization, x-rafter-secret",
                "access-control-allow-methods": "GET, POST, OPTIONS"
              },
              "statusCode": 200
            },
            "36": {
              "data": {
                "html": ""
              },
              "headers": {
                "nel": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}",
                "date": "Sun, 17 May 2026 08:25:23 GMT",
                "vary": "Origin",
                "cf-ray": "9fd13b307bcce05f-DUB",
                "server": "cloudflare",
                "alt-svc": "h3=\":443\"; ma=86400",
                "report-to": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=6NV...",
                "connection": "keep-alive",
                "content-type": "application/json",
                "content-length": "11",
                "access-control-allow-origin": "https://rafter.deepgreensea.au",
                "access-control-allow-headers": "Content-Type, Authorization, x-rafter-secret",
                "access-control-allow-methods": "GET, POST, OPTIONS"
              },
              "statusCode": 200
            },
            "37": {
              "json": "{\"to\":null,\"subject\":\"Your quote from 2 Men and a Shovel – Q-20260517-1805\",\"htmlBody\":null,\"attachm..."
            }
          }
        },
        "scenario": {
          "dlq": true,
          "slots": null,
          "dataloss": false,
          "maxErrors": 999,
          "autoCommit": true,
          "roundtrips": 1,
          "sequential": false,
          "confidential": false,
          "freshVariables": false,
          "autoCommitTriggerLast": true
        }
      }
    },
    "scheduling": {
      "type": "immediately"
    },
    "concept": false,
    "created": "2026-05-02T06:02:06.952Z",
    "last_edit": "2026-05-21T12:36:52.547Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 110
  }
}